@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*aula  01- 01/04/2023 */
body, ul {
    margin: 0px;
    padding: 0px;
}
#header #menu a{ 

    color:deeppink;
    text-decoration: none;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0,3s

}
#header #menu a:hover{
    color: deeppink;
    font-size: 1.25em;
    transition:0.3s; 
    text-shadow:4px 4px 6px #0000007a;
}

   
#logo img{
    float:left;
    height: 35px;
    position: relative;
    top: 0px;
    left: 5px
    border-radius 200px;/*Criar borda circular na imagem*/
}


#header {
    width: 100%;
    position: relative;
    z-index:90;
    box-sizing: border-box;
    height:55px;
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: #e7e7e7;
    box-shadow: 6px 6px 8px #0000007a;
    transition: 0.03s;
}
#menu{
    display:flex;
    list-style:none;
    gap:0.5rem

}
#btn-mobile{
    display:none;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 6px 6px 8px #0000007a;
    transition: 0.03s;
    place-items: normal legacy;
    margin-block: 10px;
    height: auto;
}
#carouselExampleInterval .carousel-inner img { 
    height: 600px;
    width: 100px;
}
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
        #menu li {
            padding-top: 30px;
            padding-bottom: 0px;
            margin: 0 1rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        }
        #nav.active #menu {
            height: calc(100vh - 70px);
            visibility: visible;
            overflow-y: hidden;
        }
        #btn-mobile{
            display: flex;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            gap: 0.5rem;
            background: none;
        }
        #hamburger { 
            border-top: 2px solid;/*melhorando o hamburger >> espessura de cada linha*/
            width: 25px; /*melhorandoo hamburguer >> largura*/
            color: #e71cbb; /* alterando a cor do hamburger*/
        }
        #hamburger::after,
        #hamburger::before {
            content: '';
            display: block;
            width: 25px; /* melhorando o hamburger >> largura */
            height: 2px;
            background: currentColor;
            margin-top: 5px;/*melhorando o hamburger >> espessura de cada linha*/
            transition: 0.3s;
            position: relative;
        }
        #nav.active #hamburger {
            border-top-color: transparent;
        }
        #nav.active #hamburger::before{
            transform: rotate(135deg)
        }
        #nav.active #hamburger::after{
            transform: rotate(-135deg);
            top: -7px;
        }
}
/* Estilo Css Banner */
.section-banner-home {
    width: 100%;
    height: 700px;
    margin-top: 10px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.05);
}
.section-banner-home img{
    height: 600px;
}
.section-banner-home .texto-banner{
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;

}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
}
.section-banner-home .texto-banner a {
    color:rgb(255, 255, 255) ;
    text-decoration: none;
    background-color: #f8077f7a;
    padding: 4px 14px;
    font-size: 15px;
}
.section-banner-home .texto-banner a:hover {
    color: #e71cbb33;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 18px;
    font-weight: bold;
}
/* Fim CSS Banner */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size:25px;
    font-weight: bold; 
}.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
 font-size: 13px;
 color: #000;
 text-decoration: none;
 font-weight: bold;
 text-align: center;
}
.destaque a {
 justify-content: center;
 display: flex;
 text-decoration: none;
 color: #e71cbb;
 font-size: 18px;
 font-weight: bold;
 margin: 30px 0; 
}
/* Fim Destaque*/

/* fim CSS destaque */

/*CSS Novidades */

.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #000;
    font-size: 26px;
    width: 70%;
}
.novidades p {
    color: rgb (255, 255, 255);
    text-decoration: underline;
    padding: 6px 12px;
    background-color:rgb (0, 68, 194);
    font-weight: 400;
}
/* Fim CSS novidades */

/* inicio CSS Galerias */
.galeria {
    margin: 60px auto 20px;
}
.galeria h2{
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px; 
}
    .galeria .gallery {
        width: 30%;
        margin: 14px auto 50px;
    }
    /* fim CSS galerias */
    .rodape {
        padding: 50px 50px 0;
    }
    .rodape .info-contato p{
        margin: 0px;
    }
.rodape a:hover{
        font-weight: bold; 
    }
.rodape redes-sociais{
    display:inline-block;
}
.rodape.redes-sociaisimg{
    width: 45px;
    height: 40px;
}
.rodape p.direitos{
    text-align: center;
    margin-top: 40px;
}